//====================
// mixins
// ===================
font($size,$family,$weight,$color)
	font-size $size
	font-family $family
	font-weight $weight
	color: $color
//====================
// variables
// ===================



//====================
// global
// ===================
body
	padding 0
	margin 0
	background url('../_img/cork-wallet.png')
*
	box-sizing: border-box

a
	text-decoration: none

ul
ol
	list-style none